@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

.form-header {
    border-bottom: 1.5px solid #555555;
    padding: 0;
    margin: 0 15px;
    padding-bottom: 6px;
    margin-bottom: 15px;

    .title {
        letter-spacing: 0.2px;
        color: #645353;
        font-size: .8rem;
        font-weight: bold;
    }
}

.form-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555555;
    padding: 15px 0 0;
    margin: 15px 15px 0;

    .notes {
        color: #888888;
        font-size: .8rem;
        align-self: center;
    }
}